@tailwind base;
@tailwind components;
@tailwind utilities;

#mobile {
  clip-path: polygon(
    0 13%,
    88% 13%,
    100% 0,
    100% 23%,
    100% 100%,
    49% 100%,
    0 100%
  );
  top: 15%;
  width: 88%;
}

.mobile-menu {
  /* top: 20%; */
  line-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
